@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .mobile-icon {
      width:1.2rem;
      height: 1.2rem;
    }
    /* ... */
  }
body{
font-family: 'Libre Franklin', sans-serif;
background-color:#334155;
color: #CBD5E1;
--color-primary: #334155;
--color-secondary: #7c3aed,
--color-text: #CBD5E1,
--color-dark-primary:#1E293B,
}